<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="cash-service">
    <Appenders>
        <File name="service-log-file" fileName="${env:LOG_LOCATION:-/var/log/application}/app.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="async-service-log">
            <AppenderRef ref="service-log-file"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="async-service-log"/>
        </Root>
    </Loggers>
</Configuration>